<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ラジオボタン</title>
</head>
<body>
    <h1>radio button</h1>
    <hr>
    <form action="/radio_app" method="POST">
        神奈川<input type="radio" name="address" value="Kanagawa">
        東京<input type="radio" name="address" value="Tokyo">
        <input type="submit" value="OK">
    </form>

    
</body>
</html>