<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's ME!</title>
</head>
<body>
<h1>ME!</h1>
<img src='images/me2.jpg' width=300 alt="My Pic">
<h2>私の名前は、ド タイン ニャン です。</h2>
<hr>
<ul>
    <ul>
        <li>生まれた月: 12月</li>
        <li>生まれた場所: Sa Dec</li>
        <li>いま住んでいる場所: Yokohama</li>
        <li>行きたい場所: World</li>
    </ul>
</ul>


<hr>
</body>
</html>